.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
    column-gap: 10px;
    row-gap: 20px;
    gap: 10px 20px;
    /*justify-items: end;*/
    /*align-items: stretch;*/
    /*place-items: center start;*/
}

.header {
    background-color: orange;
}

.main {
    background-color: lightblue;
}

.sidebar {
    background-color: firebrick;
}

.footer {
    background-color: lightgreen;
}